<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CAR | HOME</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/fonts/flaticon.css">
    <!-- Full Calender CSS -->
    <link rel="stylesheet" href="/css/fullcalendar.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css">
    <!-- Modernize js -->
    <script src="/js/modernizr-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
<!--    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.6/css/fixedHeader.dataTables.min.css">-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
</head>

<body>
<div th:fragment="sideNav">
    <div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
        <div class="sidebar-menu-content">
            <ul class="nav nav-sidebar-menu sidebar-toggle-view">
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-classmates"></i><span> Car Rentals</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/car-rentals}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Rentals</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/car-rentals/add}" class="nav-link"><i
                                    class="fas fa-angle-right"></i>Add Car Rental</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i
                            class="flaticon-bus-side-view"></i><span>Vehicles</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/vehicles/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Vehicles</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/vehicles/add}" class="nav-link"><i
                                    class="fas fa-angle-right"></i>Add Vehicles</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-list"></i><span>Vehicle Category</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/vehicle-categories/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Vehicles Category</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/vehicle-categories/add}" class="nav-link"><i
                                    class="fas fa-angle-right"></i> Add Vehicles Category</a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-list"></i><span>Vehicle Models</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/vehicle-models/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Vehicle Models</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/vehicle-models/add}" class="nav-link"><i
                                    class="fas fa-angle-right"></i> Add Vehicle Model</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-money"></i><span>Payments</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/payments/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Payments</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/payments/add}" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                Payment</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i class="flaticon-user"></i><span>Users</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/users/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Users</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/users/add}" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                User</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i
                            class="flaticon-multiple-users-silhouette"></i><span>User Groups</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/roles/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Groups</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/roles/add}" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                Group</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item sidebar-nav-item">
                    <a href="#" class="nav-link"><i
                            class="flaticon-multiple-users-silhouette"></i><span>Customers</span></a>
                    <ul class="nav sub-group-menu">
                        <li class="nav-item">
                            <a th:href="@{/customers/list}" class="nav-link"><i class="fas fa-angle-right"></i>All
                                Customers</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/customers/add}" class="nav-link"><i class="fas fa-angle-right"></i>Add New
                                Customer</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a th:href="@{/user-profile}" class="nav-link"><i
                            class="flaticon-settings"></i><span>Account</span></a>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <p><br></p>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <p><br></p>
                </li>
                <li class="nav-item sidebar-nav-item">
                    <p><br></p>
                </li>

            </ul>
        </div>
    </div>
</div>

<div th:fragment="navbar">
    <div class="navbar navbar-expand-md header-menu-one ">
        <div class="nav-bar-header-one">
            <div class="toggle-button sidebar-toggle">
                <button type="button" class="item-link">
                        <span class="btn-icon-wrap">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="d-md-none mobile-nav-bar">
            <button class="navbar-toggler pulse-animation" type="button" data-toggle="collapse"
                    data-target="#mobile-navbar" aria-expanded="false">
                <i class="far fa-arrow-alt-circle-down"></i>
            </button>
            <button type="button" class="navbar-toggler sidebar-toggle-mobile">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <div class="header-main-menu collapse navbar-collapse" id="mobile-navbar">
            <ul class="navbar-nav">
                <span class="col-lg-12 col-sm-6 col-md-8" style="text-align: center; color: darkblue">CAR RENTAL MANAGEMENT SYSTEM</span>
            </ul>
            <ul class="navbar-nav">
                <li class="navbar-item dropdown header-admin">

                    <a class="navbar-nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown"
                       aria-expanded="false">
                        <div class="admin-title">
                            <h5 class="item-title"><span sec:authentication="name"></span></h5>
                        </div>
                        <div class="admin-img">
                            <img th:src="@{/img/figure/admin.jpg}" alt="Admin">
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="item-header">
                            <h6 class="item-title"><span
                                    th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</span></h6>
                        </div>
                        <div class="item-content">
                            <ul class="settings-list">
                                <li><a href="#"><i class="flaticon-user"></i>My Profile</a></li>
                                <li><a th:href="@{/logout}">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
<div th:fragment="body-bottom-scripts">
    <!-- jquery-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Counterup Js -->
    <script src="/js/jquery.counterup.min.js"></script>
    <!-- Moment Js -->
    <script src="/js/moment.min.js"></script>
    <!-- Waypoints Js -->
    <script src="/js/jquery.waypoints.min.js"></script>
    <!-- Scroll Up Js -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- Full Calender Js -->
    <script src="/js/fullcalendar.min.js"></script>
    <!-- Chart Js -->
    <script src="/js/Chart.min.js"></script>
    <!-- Custom Js -->
    <script src="/js/main.js"></script>

<!--    <script src="/js/jquery.dataTables.min.js"></script>-->

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script>
        $(document).ready(function() {
            var table = $('#myTable').DataTable( {
                responsive: true
            } );

            // new $.fn.dataTable.FixedHeader( table );
        } );

    </script>
</div>
</body>
</html>