<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"></head>
<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div th:replace="common/header :: navbar"></div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <div th:replace="common/header :: sideNav"></div>
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
            <div class="breadcrumbs-area">
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/customers/list}">All Customers</a>
                    </li>
                    <li>Add customer</li>
                </ul>
            </div>
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add New Customer</h3>
                        </div>
                    </div>

                    <form  th:action="@{/customers/add}" th:object="${customer}" method="post"
                          class="new-added-form">
                        <div class=" row form-group">
                            <label for="firstName" class=" col-xl-3 col-lg-3 col-6 col-form-label">First name</label>
                            <input type="text"
                                   th:field="*{firstName}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="firstName"
                                   placeholder="firstName">
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                  class="text-danger"></span>
                        </div>

                        <div class=" row form-group">
                            <label for="dateOfBirth" class=" col-xl-3 col-lg-3 col-6 col-form-label">Date of
                                Birth</label>
                            <input type="date"
                                   th:field="*{dateOfBirth}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="dateOfBirth"
                                   placeholder="Date of Birth">
                            <span th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                  class="text-danger"></span>
                        </div>

                        <div class=" row form-group">
                            <label for="customerNumber" class=" col-xl-3 col-lg-3 col-6 col-form-label">Customer
                                Number</label>
                            <input type="text"
                                   th:field="*{customerNumber}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="customerNumber"
                                   placeholder="Customer Number">
                            <span th:if="${#fields.hasErrors('customerNumber')}" th:errors="*{customerNumber}"
                                  class="text-danger"></span>
                        </div>

                        <div class=" row form-group">
                            <label for="lastName" class=" col-xl-3 col-lg-3 col-6 col-form-label">Last name</label>
                            <input type="text"
                                   th:field="*{lastName}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="lastName"
                                   placeholder="lastName">
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                  class="text-danger"></span>
                        </div>


                        <div class=" row form-group">
                            <label for="email" class="col-xl-3 col-lg-3 col-6 col-form-label">Email</label>
                            <input
                                    type="text"
                                    th:field="*{email}"
                                    class="col-xl-3 col-lg-3 col-6 form-control"
                                    id="email"
                                    placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                  class="text-danger"></span>
                        </div>

                        <div class="row form-group">
                            <label for="phoneNumber" class="col-xl-3 col-lg-3 col-6 col-form-label">Phone No</label>
                            <input type="text"
                                   th:field="*{phoneNumber}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="phoneNumber"
                                   placeholder="PhoneNo">
                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                  class="text-danger"></span>
                        </div>

                        <div class="row form-group">
                            <label for="nationalId" class="col-xl-3 col-lg-3 col-6 col-form-label">National Id
                                number</label>
                            <input type="text"
                                   th:field="*{nationalId}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="nationalId"
                                   placeholder="national Id number">
                            <span th:if="${#fields.hasErrors('nationalId')}" th:errors="*{nationalId}"
                                  class="text-danger"></span>
                        </div>

                        <div class="row form-group">
                            <label for="address" class=" col-xl-3 col-lg-3 col-6 col-form-label">Address</label>
                            <textarea type="text"
                                      th:field="*{address}"
                                      class="col-xl-3 col-lg-3 col-6 form-control"
                                      id="address"
                                      placeholder="address"></textarea>
                            <span
                                    th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                    class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label for="group" class="col-xl-3 col-lg-3 col-6 col-form-label">Group</label>
                            <select class="col-xl-3 col-lg-3 col-6 form-control" th:field="*{gender}" id="group">

                                <option th:value="Female"
                                        th:text="Female"></option>
                                <option th:value="Male"
                                        th:text="Male"></option>
                            </select>
                            <span
                                    th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                    class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary" value="Add Customer">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>