<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"></head>
<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div th:replace="common/header :: navbar"></div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <div th:replace="common/header :: sideNav"></div>
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
            <div class="breadcrumbs-area">
                <h3>Users</h3>
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/users/list}">All Users</a>
                    </li>
                    <li>Add user</li>
                </ul>
            </div>
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add New User</h3>
                        </div>
                    </div>

                    <form  th:action="@{/users/add}" th:object="${user}" method="post"
                          class="new-added-form">
                        <div th:if="${#fields.hasErrors()}">
<span class="validationError">
Please correct the problems below and resubmit.
</span>
                        </div>
                        <div class=" row form-group">
                            <label for="username" class=" col-xl-3 col-lg-3 col-6 col-form-label">Username</label>
                            <input type="text"
                                   th:field="*{username}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="username"
                                   placeholder="username">
                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                  class="text-danger"></span>
                        </div>
                        <div class=" row form-group">
                            <label for="password" class=" col-xl-3 col-lg-3 col-6 col-form-label">Password</label>
                            <input type="password"
                                   th:field="*{password}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="password"
                                   placeholder="password">
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                  class="text-danger"></span>
                        </div>
                        <div class=" row form-group">
                            <label for="fullName" class="col-xl-3 col-lg-3 col-6  col-form-label">Full Name</label>
                            <input type="text"
                                   th:field="*{fullName}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="fullName"
                                   placeholder="fullName">
                            <span th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"
                                  class="text-danger"></span>
                        </div>
                        <div class=" row form-group">
                            <label for="email" class="col-xl-3 col-lg-3 col-6 col-form-label">Email</label>
                            <input
                                    type="text"
                                    th:field="*{email}"
                                    class="col-xl-3 col-lg-3 col-6 form-control"
                                    id="email"
                                    placeholder="Email">
                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                  class="text-danger"></span>
                        </div>

                        <div class="row form-group">
                            <label for="phoneNumber" class="col-xl-3 col-lg-3 col-6 col-form-label">Phone No</label>
                            <input type="text"
                                   th:field="*{phoneNumber}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="phoneNumber"
                                   placeholder="PhoneNo">
                            <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
                                  class="text-danger"></span>
                        </div>

                        <div class="row form-group">
                            <label for="address" class=" col-xl-3 col-lg-3 col-6 col-form-label">Address</label>
                            <textarea type="text"
                                      th:field="*{address}"
                                      class="col-xl-3 col-lg-3 col-6 form-control"
                                      id="address"
                                      placeholder="address"></textarea>
                            <span
                                    th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
                                    class="text-danger"></span>
                        </div>
                        <div class="form-group row">
                            <label for="group" class="col-xl-3 col-lg-3 col-6 col-form-label">Group</label>
                            <select class="col-xl-3 col-lg-3 col-6 form-control" th:field="*{roleId}" id="group">

                                <option th:each="role : ${roles}" th:value="${role.id}"
                                        th:text="${role.name}"></option>
                            </select>
                            <span
                                    th:if="${#fields.hasErrors('roleId')}" th:errors="*{roleId}"
                                    class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary" value="Add User">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>