<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"></head>
<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div th:replace="common/header :: navbar"></div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <div th:replace="common/header :: sideNav"></div>
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
            <div class="breadcrumbs-area">
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/vehicles/list}">All Vehicles</a>
                    </li>
                    <li>Add vehicle</li>
                </ul>
            </div>
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>Add New Vehicle</h3>
                        </div>
                    </div>

                    <form  th:action="@{/vehicles/add}" th:object="${vehicle}" method="post"
                          class="new-added-form">
                        <div class=" row form-group">
                            <label for="registrationNumber" class=" col-xl-3 col-lg-3 col-6 col-form-label">Vehicle registration number</label>
                            <input type="text"
                                   th:field="*{registrationNumber}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="registrationNumber"
                                   placeholder="registration Number">
                            <span th:if="${#fields.hasErrors('registrationNumber')}" th:errors="*{registrationNumber}"
                                  class="text-danger"></span>
                        </div>

                        <div class=" row form-group">
                            <label for="name" class=" col-xl-3 col-lg-3 col-6 col-form-label">Vehicle name</label>
                            <input type="text"
                                   th:field="*{name}"
                                   class=" col-xl-3 col-lg-3 col-6  form-control"
                                   id="name"
                                   placeholder="vehicle name">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                  class="text-danger"></span>
                        </div>
                        <div class=" row form-group">
                            <label for="color" class=" col-xl-3 col-lg-3 col-6 col-form-label">Color</label>
                            <textarea type="text"
                                   th:field="*{color}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="color"
                                      placeholder="color"></textarea>
                            <span th:if="${#fields.hasErrors('color')}" th:errors="*{color}"
                                  class="text-danger"></span>
                        </div>

                        <div class=" row form-group">
                            <label for="initialMileage" class=" col-xl-3 col-lg-3 col-6 col-form-label">Initial Mileage</label>
                            <textarea type="text"
                                   th:field="*{initialMileage}"
                                   class="col-xl-3 col-lg-3 col-6 form-control"
                                   id="initialMileage"
                                      placeholder="initial mileage"></textarea>
                            <span th:if="${#fields.hasErrors('initialMileage')}" th:errors="*{initialMileage}"
                                  class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label for="modelId" class="col-xl-3 col-lg-3 col-6 col-form-label">Vehicle model</label>
                            <select class="col-xl-3 col-lg-3 col-6 form-control" th:field="*{modelId}" id="modelId">

                                <option th:each="model : ${models}" th:value="${model.id}"
                                        th:text="${model.modelName}"></option>
                            </select>
                            <span
                                    th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"
                                    class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <label for="categoryId" class="col-xl-3 col-lg-3 col-6 col-form-label">Vehicle Category</label>
                            <select class="col-xl-3 col-lg-3 col-6 form-control" th:field="*{categoryId}" id="categoryId">

                                <option th:each="category : ${categories}" th:value="${category.id}"
                                        th:text="${category.categoryName}"></option>
                            </select>
                            <span
                                    th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"
                                    class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-lg btn-primary" value="Add Vehicle">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>