<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head th:replace="common/header :: common-header"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->
    <div th:replace="common/header :: sideNav"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="common/header :: navbar"></div>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">All categories</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                    </ol>
                </nav>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Update category</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/vehicle-categories/update/{id}(id=${vehicleCategory.id})}"
                              th:object="${vehicleCategory}" method="post"
                              class="new-added-form">
                            <div class=" row form-group">
                                <label for="categoryName" class=" col-xl-3 col-lg-3 col-6 col-form-label">Category
                                    name</label>
                                <input type="text"
                                       th:field="*{categoryName}"
                                       class=" col-xl-3 col-lg-3 col-6  form-control"
                                       id="categoryName"
                                       placeholder="category name">
                                <span th:if="${#fields.hasErrors('categoryName')}" th:errors="*{categoryName}"
                                      class="text-danger"></span>
                            </div>
                            <div class=" row form-group">
                                <label for="categoryDescription"
                                       class=" col-xl-3 col-lg-3 col-6 col-form-label">Description</label>
                                <textarea type="text"
                                          th:field="*{categoryDescription}"
                                          class="col-xl-3 col-lg-3 col-6 form-control"
                                          id="categoryDescription"
                                          placeholder="categoryDescription"></textarea>
                                <span th:if="${#fields.hasErrors('categoryDescription')}"
                                      th:errors="*{categoryDescription}"
                                      class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-md btn-primary" value="SAVE">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>