<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="common/header :: common-header"></head>
<body>
<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->
    <div th:replace="common/header :: navbar"></div>
    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <!-- Sidebar Area Start Here -->
        <div th:replace="common/header :: sideNav"></div>
        <!-- Sidebar Area End Here -->
        <div class="dashboard-content-one">
            <div class="breadcrumbs-area">
                <ul>
                    <li>
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/car-rentals/list}">All car rentals</a>
                    </li>
                    <li>Rental details</li>
                </ul>
            </div>
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a th:href="@{/users/add}" class="btn btn-lg btn-primary ">Make payment</a>
                                <a th:href="@{/users/add}" class="btn btn-outline-primary btn-lg">Return vehicle</a>
                                <a th:href="@{/users/add}" class="btn btn-outline-primary btn-lg">Edit Rental</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">Rental</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">Customer details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                               aria-controls="contact" aria-selected="false">Vehicle details</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6  "><strong>Rent Date</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6  ">
                                    <span th:text="${#dates.format(rental.rentDate, 'dd MMMM yyyy')}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Rent end date</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${#dates.format(rental.rentEndDate, 'dd MMMM yyyy')}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Rent Fee</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    USD$<span th:text="${#numbers.formatDecimal(rental.rentFee, 0 ,2)}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Return date</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${#dates.format(rental.returnDate, 'dd-MMMM-yyyy')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <br>

                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Name</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.lastName}"></span>
                                    <span th:text="${rental?.customer?.lastName}"></span>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Customer number</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.customerNumber}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Email</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.email}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Gender</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.gender}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Address</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.address}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>National Id</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.customer?.nationalId}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Date of birth</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${#dates.format(rental?.customer?.dateOfBirth, 'dd MMMM yyyy')}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Vehicle name</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.name}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Initial mileage</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.initialMileage}"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Registration Number</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.registrationNumber}"></span>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Color</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.color}"></span>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Category</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.vehicleCategory?.categoryName}"></span>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-xl-3 col-lg-3 col-6 "><strong>Model</strong></div>
                                <div class="col-xl-3 col-lg-3 col-6 ">
                                    <span th:text="${rental?.vehicle?.vehicleModel?.modelName}"></span>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>